*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --main-color: white;
    --main-background-color:  #7395AE;
    --second-background-color: #557A95;
    --top-bottom-background-color: #5D5C61;
    --hover-color: #B1A296;
}
body{
    background-color: var(--main-background-color);
}
/* start nav */
nav{
    margin: 0;
    overflow: hidden;
    height: 3rem;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: var(--top-bottom-background-color);
}
ul{
    top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
}
li a{
    text-transform: uppercase;
    font-size: 1rem;
    cursor: default;
    text-decoration: none;
    color: var(--main-color);
}
a:hover{
    animation: btn-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes btn-hover{
   100%{
       color: var(--hover-color); 
   }
}
#middle-section{
    margin-top: 50px;
}


/* end header */
/* begin main section */
main{
    color: var(--main-color);
    background-color: var(--second-background-color);
    width: 90%;
    margin: auto;
    top: 50px;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: black 1px 1px 5px 5px ;

}
main section{
    text-align: center;
    margin: 1rem 1rem;
}
main p{
    margin-top: 1rem;
}

/* end main section */
/* begin footer section */
footer{
    background-color: var(--top-bottom-background-color);
    color: var(--main-color);
    left: 0;
    right: 0;
    bottom: 0;
    height: 5rem;
    margin-top: 1rem;
}