*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}
:root{
    --main-color: #5D5C61;
    --main-background-color:  lightgray;
    --hover-color: #B1A296;
}
body{
    background-color: var(--main-background-color);
}

/* start nav */

.banner{
    width: 85%;
    margin: 1rem auto;
    height: auto;
    display: flex;
    justify-content: center;
    opacity: 0.9;
    box-shadow: gray 1px 1px 5px 5px;
}
nav{
    width: 85%;
    margin: auto;
    height: 3rem;
    top: 0;
    left: 0;
    right: 0;
}
ul{
    top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
}
li a{
    text-transform: uppercase;
    font-size: 1rem;
    cursor: default;
    text-decoration: none;
    color: var(--main-color);
}
a:hover{
    animation: btn-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes btn-hover{
   100%{
       color: var(--hover-color); 
   }
}
/* end header */
/* begin main section */
main{
    color: var(--main-color);
    background-color: white;
    width: 90%;
    margin: auto;
    top: 50px;
    padding: 1rem;
    box-shadow: gray 1px 1px 5px 5px;
    text-align: left;

}
main section{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
main p{
    margin-top: 1rem;
}
main h3{
    text-transform: capitalize;
}

/* end main section */
/* begin footer section */
.footer{
    text-align: center;
    padding: 1.5rem;
}